@import url('../../styles/useful');

.visitor-cart {
	border-radius: @border-radius;
	padding: 10px 15px;

	&[data-reduce-padding="true"] {
		padding: 6px 12px;
	}

	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 10px;

	//trick that stops children elements
	// from affecting parent width
	min-width: 100%;
	width: 0;

	&__name {
		flex: 0 1 87%;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;

		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;

		&.line-through {
			text-decoration: line-through;
		}
	}

	&__done-status {
		@sideSize: 18px;

		height: @sideSize;
		width: @sideSize;

		border-radius: 50%;
		border: 2px solid @gray;

		position: relative;

		img {
			height: 90%;
			width: 90%;
			position: absolute;
			top: 50%;
			left: 50%;
			transform-origin: bottom;
			transform: translate(-40%, -65%) scale(0);
			transition: transform 0.3s ease-in-out;
		}

		&.active img {
			transform: translate(-40%, -65%) scale(1);
		}

	}

	&.green {
		background-color: @green;

		.visitor-cart__name {
			color: @gray;
		}
	}

	&.light {
		background-color: @gray;

		.visitor-cart__name {
			color: @dark-text;
		}
	}

	&.expired-subscription {
		background-color: @yellow;
		transition: all 0.3s ease-in;

		.visitor-cart__name {
			color: @dark-text;
			transition: all 0.3s ease-in;
		}

		.visitor-cart__slider,
		.visitor-cart__subscription-counter {
			background-color: @dark-text;
			color: @yellow;
			border-color: @yellow;
		}
	}
}

.increase-value-list {
	display: flex;
	justify-content: space-evenly;
	gap: 10px;
	align-items: center;
	padding-right: 78px;
}