@import url('../../styles/useful');

.search-field {
	width: 100%;
	padding: 13px 50px;
	border-top: 2px solid @green;
	border-bottom: 2px solid @green;

	display: flex;
	align-items: center;
	gap: 20px;

	background-color: transparent;

	&__icon img {
		height: 35px;
		width: 35px;
	}

	&__input {
		background-color: transparent;
		max-width: 100%;
		color: @dark-blue;
		font-size: 20px;

		&::placeholder {
			color: @dark-blue;
			opacity: 0.8;
		}
	}

	&.green {
		border-top: 2px solid @green;
		border-bottom: 2px solid @green;
	}

	&.white {
		border-top: 2px solid @gray;
		border-bottom: 2px solid @gray;

		.search-field__input {
			color: @gray;

			&::placeholder {
				color: @gray;
			}
		}
	}
}