@import url('../../styles/useful');

//Calendar styles override
.MuiDateCalendar-root {
	width: 100% !important;
}

.MuiPickersCalendarHeader-root div {
	font-size: 22px !important;
	color: @dark-text;
	text-transform: capitalize;
}

.MuiIconButton-root {
	font-size: 2rem !important;
}

.MuiDayCalendar-header,
.MuiDayCalendar-weekContainer {
	margin: 7px 0px !important;
	justify-content: space-evenly !important;
}

.MuiDayCalendar-weekContainer:first-child {
	margin-top: 0px !important;
}

.MuiDayCalendar-weekDayLabel {
	font-size: 1.1rem !important;
}

//days
.MuiPickersDay-root.Mui-selected:hover,
.MuiPickersDay-root.Mui-selected {
	color: @gray;
	background-color: @green !important;
	font-weight: 600;
}

.MuiPickersDay-root {
	font-size: 0.9rem !important;
}

.MuiDayCalendar-weekDayLabel {
	color: @dark-text !important;
	font-family: 'Inter' !important;
	font-weight: 600 !important;

	&[aria-label="субота"],
	&[aria-label="неділя"] {
		color: @green !important;
		opacity: 0.8;
	}
}