@import url('../../styles/useful');

.popup-date-picker {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	transition: all 0.5s ease-in-out;
	background-color: rgba(0, 0, 0, 0);
	visibility: hidden;

	display: flex;
	justify-content: center;
	align-items: center;

	&[data-isopen="true"] {
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.5);
	}

	&__body {
		.MuiPickersLayout-root {
			border-radius: 10px;
			background-color: #f2f2f2;
		}

		.MuiPickersLayout-toolbar,
		.MuiPickersLayout-actionBar {
			display: none;
		}

		.MuiPickersCalendarHeader-root div {
			color: @dark-text;
			font-weight: 500;
			text-transform: capitalize;
		}

		.MuiPickersDay-root.Mui-selected:hover,
		.MuiPickersDay-root.Mui-selected {
			color: @gray;
			background-color: @green !important;
			font-weight: 600;
		}

		.MuiDayCalendar-weekDayLabel {
			color: @dark-text !important;

			&[aria-label="субота"],
			&[aria-label="неділя"] {
				color: @green !important;
				opacity: 0.8;
			}
		}
	}
}